:root {
  --color-blue-light: #E1FDFF;
  --color-blue-medium: #7DF7FF;
  --color-blue-dark: #00D1FF;
  --color-purple-medium: #7018FF;
  --color-orange-light: #FF7A00;
  --color-orange-medium: #FF5C00;
  --color-background-grey: #181818;
  --purple-orange-gradient: linear-gradient(to right, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
  --purple-orange-gradient-top: linear-gradient(to top, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
  --purple-orange-gradient-left: linear-gradient(to left, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
  --purple-orange-gradient-bottom: linear-gradient(to bottom, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
  --purple-orange-gradient-bottom-right: linear-gradient(to bottom right, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

::selection {
  background-color: var(--color-blue-dark); }

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.heading {
  font-family: "Work Sans"; }

.heading-primary {
  text-transform: uppercase;
  line-height: 82.8%;
  font-size: 14.4rem;
  font-weight: 700;
  text-align: left;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: var(--purple-orange-gradient); }

@keyframes icon-bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2rem); }
  100% {
    transform: translateY(0); } }

.btn:link, .btn:visited {
  background-image: var(--purple-orange-gradient);
  color: #fff;
  text-decoration: none;
  border-radius: 100rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 300;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }

.btn:hover {
  transform: translateY(-1.5rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1); }

.btn:active {
  transform: translateY(-0.75rem);
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.15); }

.icon {
  width: 3rem;
  height: 3rem;
  fill: #fff; }

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  padding: 4rem 0; }
  .testimonial:not(:last-child) {
    margin-bottom: 2rem; }
  .testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    max-width: 90rem;
    background-color: var(--color-blue-light);
    z-index: -1; }
  .testimonial--left::before {
    left: 0;
    clip-path: polygon(0 0, 80% 0, 60% 100%, 0 100%); }
  .testimonial--right::before {
    right: 0;
    clip-path: polygon(20% 0, 40% 100%, 100% 100%, 100% 0); }
  .testimonial--right .testimonial__img-container {
    order: 1; }
  .testimonial__img-container {
    max-width: 60rem;
    height: 35rem;
    border-radius: 6rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 45%;
    margin: 0 2rem;
    position: relative;
    overflow: hidden; }
  .testimonial__img {
    border-radius: 6rem;
    height: 35rem; }
  .testimonial__text {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonial__quote {
    font-size: 3.6rem;
    line-height: 82.8%;
    text-align: left;
    font-weight: 300;
    margin-bottom: 6.5rem;
    position: relative;
    width: 66rem; }
    .testimonial__quote::before {
      content: '';
      position: absolute;
      bottom: -1rem;
      left: 1rem;
      width: 97%;
      height: .4rem;
      background-image: var(--purple-orange-gradient); }
  .testimonial__description {
    line-height: 146.8%;
    font-size: 2.6rem;
    font-weight: 300;
    margin-left: .75rem;
    max-width: 67rem; }

.inspiration-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 100%; }

.inspiration-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 35rem;
  height: 35rem;
  padding: 4rem;
  border-radius: .4rem;
  box-shadow: -1.2rem 1.2rem 0 0 rgba(0, 0, 0, 0.14); }
  .inspiration-box__icon {
    fill: var(--color-blue-dark);
    width: 10rem;
    height: 10rem; }
  .inspiration-box__text {
    font-size: 2rem;
    line-height: 154.3%;
    text-align: center; }
    .inspiration-box__text--shift-up {
      margin-bottom: 2.5rem; }

.navigation {
  top: 4rem;
  left: 5rem;
  width: 5rem;
  height: 2.6rem;
  position: fixed;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .navigation__button {
    position: relative;
    width: 5rem;
    height: 0.2rem;
    background-image: var(--purple-orange-gradient); }
    .navigation__button::before, .navigation__button::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 0.2rem;
      background-image: var(--purple-orange-gradient);
      transition: transform .2s; }
    .navigation__button::before {
      transform: translateY(-1rem); }
    .navigation__button::after {
      transform: translateY(1rem); }
  .navigation:hover .navigation__button {
    width: 0; }
    .navigation:hover .navigation__button::before {
      transform: translateY(0rem) rotateZ(135deg); }
    .navigation:hover .navigation__button::after {
      transform: translateY(0rem) rotateZ(-135deg); }

.section-hero {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent), radial-gradient(transparent, #000), url("../img/waterfall-dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .section-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 71rem; }
  .section-hero__heading {
    display: flex;
    margin-bottom: 7rem; }
  .section-hero__text {
    color: #fff;
    text-align: center; }
    .section-hero__text--1 {
      text-transform: uppercase;
      letter-spacing: 4%;
      font-size: 4.7rem;
      width: 36rem;
      margin-bottom: 2rem;
      font-weight: 300; }
    .section-hero__text--2 {
      line-height: 105.3%;
      font-size: 2.6rem;
      width: 40rem;
      margin-bottom: 8rem;
      font-weight: 200; }
  .section-hero__btn {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    position: relative; }
    .section-hero__btn::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      background-image: var(--purple-orange-gradient);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100rem;
      z-index: -1;
      opacity: 1;
      transition: all .3s; }
    .section-hero__btn:hover {
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
      transform: translateY(-1rem) scale(1.07); }
    .section-hero__btn:active {
      transform: translateY(-0.75rem) scale(1); }
  .section-hero__icon {
    position: absolute;
    bottom: 5rem;
    fill: #AAA;
    animation: icon-bounce ease-in-out 1.5s infinite; }

.section-testimonials {
  margin: 15rem auto; }

.section-inspiration {
  margin: 30rem auto;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .section-inspiration::before, .section-inspiration::after {
    content: '';
    transform-origin: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
  .section-inspiration::before {
    background-color: var(--color-blue-medium);
    transform: skewY(-2.5deg); }
  .section-inspiration::after {
    background-image: var(--purple-orange-gradient-bottom-right);
    transform: skewY(-6deg); }
