// HERO ICON BOUNCING
@keyframes icon-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2rem);
    }

    100% {
        transform: translateY(0);
    }
}

// NAVIGATION BUTTON HACK -- NOT USING IT
@keyframes nav-button-hack {
    0% {
        
    }

    100% {
        position: relative;
        top: auto;
        right: auto;
        margin-right: 5rem;
    }
}