body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.heading {
    font-family: "Work Sans";
}

.heading-primary {
    text-transform: uppercase;
    line-height: 82.8%;
    font-size: 14.4rem;
    font-weight: 700;
    text-align: left;

    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: var(--purple-orange-gradient);
}

.heading-tertiary {
    font-weight: 300;
    line-height: 110.3%;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "Roboto";
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--purple-orange-gradient);
}