:root {
    --color-blue-light: #E1FDFF;
    --color-blue-medium: #7DF7FF;
    --color-blue-dark: #00D1FF;

    --color-purple-medium: #7018FF;

    --color-orange-light: #FF7A00;
    --color-orange-medium: #FF5C00;

    --color-background-grey: #181818;


    --purple-orange-gradient: linear-gradient(to right, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
    --purple-orange-gradient-top: linear-gradient(to top, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
    --purple-orange-gradient-left: linear-gradient(to left, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
    --purple-orange-gradient-bottom: linear-gradient(to bottom, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
    --purple-orange-gradient-bottom-right: linear-gradient(to bottom right, var(--color-purple-medium) 10%, var(--color-orange-medium) 90%);
}